{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@400;700&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'workflow/CSS/style.css' %}">
    <title>PHD_dignosis</title>
</head>
<body>
    <nav class="nav_bar">
        <ul class="ulist">
            <li>
                <h1 class="username"><a href="{% url 'main:specialist' %}"> <i class="fa-solid fa-heart-pulse"></i>
                        <span>Username</span></a></h1>
            </li>
            <li><a href="{% url 'main:profile' %}" class="profile">Profile</a></li>
            <li><a href="{% url 'main:history' %}" class="history">History</a></li>
        </ul>
    </nav>
    <section class="pass">
        <div class="back">
        <ui class="ch">
            <li class="sh-name">
                <span class="firstname">First name: <span class="info">Abdullah</span></span>
                
                <span class="lastname">Last name: <span class="info">Althaqeb</span></span>
                
            </li>
            <li class="email">
                <span class="user-email">Email: <span class="info">aoob2001@gmail.com</span></span>
            </li>
            <li class="inp-wr">
                <div class="inp-all">
                    <h3>Change Password: </h3><span class="sec-note">your new password:</span>
                </div>
                <input class="inp-num" type="password" min="1" max="700" step="1" placeholder="Enter your password here!">
            </li>
            <li class="ch-pass">confirm password</li>
        </ui>
    </div>
    </section>
    <footer>
        <h2 class="nametag">ABDULLAH &middot; MUHANNED</h2>
        <ul class="footlist">
            <li><a href="mailto:aoob2001@gmail.com"><i class="fa-solid fa-envelope" aria-hidden="true"></i> <span
                        class="sr-only"> Email</span></a></li>
            <li><a href="mailto:mohanadalhoqail@gmail.com"><i class="fa-solid fa-envelope" aria-hidden="true"></i> <span
                        class="sr-only"> Email</span></a></li>
        </ul>
        <p class="copyright">&copy; 2024 ABDULLAH&MUHANNED. All rights reserved.</p>
    </footer>
</body>